.Rproj.user
.Rhistory
.RData
.Ruserdata
AquaCropOPSyData/
AquaR/
CropGeoJson/
Data/
IrrigationWorkshopSlides/
Litrature/
Manuscript/
Others/
Presentations/
SimET/
census_cache/
maps/
output/
results/
Litreature/
Data Main Analysis/
